
<span class="is-size-3 has-text-centered"><h1><%= @variety.name %></h1></span><br>

<div class="tile is-parent is-flex-wrap-wrap is-6 has-text-centered is-align-content-space-evenly">
  <% @variety.products.each do |product| %>
    <div class="tile is-parent is-align-content-space-evenly">
        <div class="tile is-child box">
          <%= link_to product.name, product %>: $<%= product.price %>
        </div>
    </div>
  <% end %>
</div>