<h1>Java The Hutt</h1>
<%= link_to "Our Varieties", varieties_path %><br>

<%= link_to "New Product", new_product_path %><br>

<%= link_to "New User", new_user_path %>

<ul>
  <% @users.each do |user| %>
    <li>
      <%= link_to user.username, user %>
    </li>
  <% end %>
</ul>