<h1>Order #: <%= @order.id %></h1>

<p>Price: $<%= @order.price %></p>

<p>Status: $<%= @order.status %></p>
<%# add if statement for order status with shipped date and paid date ex from product.show%>
<%# add loop for products %>