<h1>Java The Hutt</h1>

<%= link_to "New Product", new_product_path %>

<ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to product.name, product %>: $<%= product.price %>
    </li>
  <% end %>
</ul>